<ion-header>
  <ion-toolbar color="mango">
  <ion-title>Registration</ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content padding='true'>
  <div class="center">
  <img src="" class="smallLogo"/>
  <h1>Create Account</h1>
  </div>
  <form>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Forename</ion-label>
      <ion-input autocomplete="off" name="Forename" type="text" [(ngModel)]="postData.forename"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Surname</ion-label>
      <ion-input autocomplete="off" name="surname" type="text" [(ngModel)]="postData.surname"></ion-input>
    </ion-item>

  <ion-item>
  <ion-label position="stacked">Email</ion-label>
  <ion-input autocomplete="off" name="email" type="email" [(ngModel)]="postData.email"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="stacked">Username</ion-label>
  <ion-input autocomplete="off" name="username" type="text" [(ngModel)]="postData.username"></ion-input>
  </ion-item>

  <ion-item>
  <ion-label position="stacked">Password</ion-label>
  <ion-input autocomplete="off" name="password" type="password" [(ngModel)]="postData.password"></ion-input>
  </ion-item>
    <ion-item>
      <ion-label position="stacked">role</ion-label>
      <ion-input autocomplete="off" name="role" type="text" [(ngModel)]="postData.role"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Role</ion-label>
      <ion-select interface="popover" value="role" >
        <ion-select-option value="admin"  >admin</ion-select-option>
        <ion-select-option value="surfer">surfer</ion-select-option>
        <ion-select-option value="member">member</ion-select-option>
      </ion-select>
    </ion-item>

  <ion-item lines='none'>
  Already have an account? <a routerLink='/login'>Sign in.</a>
  </ion-item>
  </ion-list>
  <ion-button expand="block" share="round" color="success" (click)="registerAction()" [disabled]="!postData.username || !postData.password ">Registration</ion-button>
  </form>
    <div id="res">

    </div>
  </ion-content>
