<ion-header>
  <ion-toolbar>
    <ion-title>nfcReader</ion-title>
  </ion-toolbar>
</ion-header>
<ion-button expand="block" share="round" color="success" (click)="NfcReader()" >NFC</ion-button>
<ion-badge color="danger" slot="end">{{info}}</ion-badge>

<ion-content>

  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1" routerLink='/nfc-reader'>
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Tab 1</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab2" routerLink='/home'>
        <ion-icon name="ellipse" ></ion-icon>
        <ion-label>Tab 2</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="sensor-details" routerLink='/sensor-details'>
        <ion-icon name="camera"></ion-icon>
        <ion-label>Tab 3</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="car-list" routerLink='/car-list'>
        <ion-icon name="camera"></ion-icon>
        <ion-label>Tab 3</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="map" routerLink='/map'>
        <ion-icon name="camera"></ion-icon>
        <ion-label>Tab 3</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings" routerLink='/settings'>
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>
