<ion-header>
  <ion-toolbar>
    <ion-title>Smart Parking Device</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>

  </p>

  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>A</ion-card-subtitle>
      <ion-card-title>TITLE</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      WelCome to Our Application blabalabal Description ....
    </ion-card-content>
  </ion-card>
  <section>
    <ion-button expand="block" routerLink='/login'>Start</ion-button>
  </section>
  <section class="ion-text-center">
    <a routerLink='/register'>New Member</a>
  </section>


</ion-content>
