
<ion-header>
  <ion-toolbar>
    <ion-title>
      Access Location
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-button (click)="getCC()" expand="block">
  Get Location
</ion-button>
<ion-list>
  <ion-list-header>
    <ion-label>Location Coordinates</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label>
      Latitue
    </ion-label>
    <ion-badge color="danger" slot="end">{{latitude}}</ion-badge>
  </ion-item>
  <ion-item>
    <ion-label>
      Longitude
    </ion-label>
    <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
  </ion-item>
</ion-list>

  <section>
    <ion-item style="cursor: pointer;margin-top:100px;" (click)="onpickupClick()">
      <ion-icon slot="start" name="locate"></ion-icon>
      <ion-label position="stacked">Pickup Location</ion-label>
      <ion-textarea  style="margin-top:20px;" >{{pickupLocation}}</ion-textarea>
    </ion-item>
  </section>
  <section>
    <ion-button expand="block" routerLink='/nfc-reader'>nfc-Reeader</ion-button>
  </section>
  <section>
    <ion-button expand="block" routerLink='/car-list'>List of Cars</ion-button>
  </section>
  <section>
    <ion-button expand="block" routerLink='/sensor-details'>Sensor Details</ion-button>
  </section>
  <section>
    <ion-button expand="block" routerLink='/settings'>Profile</ion-button>
  </section>










